<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/cssreset-min.css">
        <link rel='stylesheet' href="/stylesheets/style.css"/>
        <link rel='stylesheet' href="/stylesheets/toastr.min.css"/>
        <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
        <link rel='stylesheet' href="/stylesheets/font.css">
        <link rel="stylesheet" href="/stylesheets/highlight.default.min.css">
        <link rel="stylesheet" href="/stylesheets/jquery.contextMenu.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" >
        <title><%= title %></title>
    </head>
    <body>
        <div id="messagesBox" class="chatBox"></div>

        <p id="usersTyping"></p>

        <div class="chatActions">
            <form action="#" id="chatForm">
                <input type="text" id="inputMessage" placeholder="Available Commands: !gif <search_query> !vault <search_query> !code !online !boss !clear !chat <message>" autocomplete="off"/>
            </form>
            <div id="gifnailsBox">
            </div>
            <form action="#" id="codeForm" style="display: none;">
                <textarea id="codeInput" rows="5"></textarea><br/>
                <button id="codeSubmit" value="Send">Submit</button>
            </form>
        </div>
        <img src='/images/work.jpg' id="workImage"/>
    </body>
    <script src="/javascript/libraries/socket.io-1.0.6.js"></script>
    <script src="/javascript/libraries/jquery-1.11.1.min.js"></script>
    <script src="/javascript/libraries/jquery-ui.min.js"></script>
    <script src="/javascript/libraries/highlight.min.js"></script>
    <script src="/javascript/libraries/toastr.min.js"></script>
    <script src="/javascript/libraries/jquery.titlealert.min.js"></script>
    <script src="/javascript/libraries/jquery.hoverIntent.minified.js"></script>
    <script src="/javascript/libraries/moment.js"></script>
    <script src="/javascript/libraries/jquery.ui.position.js"></script>
    <script src="/javascript/libraries/jquery.contextMenu.js"></script>
    <script src="/javascript/chatsfow2/chat.js"></script>
    <script src="/javascript/chatsfow2/gifnail-presenter.js"></script>
    <script src="/javascript/chatsfow2/gifnail-providers.js"></script>
    <script>
        ChatCommand.init('<%= serverAddress %>');
    </script>
    <!-- chat.js must be before all commands imports -->
    <script src="/javascript/chatsfow2/commands/gif.js"></script>
    <script src="/javascript/chatsfow2/commands/code.js"></script>
    <script src="/javascript/chatsfow2/commands/clear.js"></script>
    <script src="/javascript/chatsfow2/commands/online.js"></script>
    <script src="/javascript/chatsfow2/commands/boss.js"></script>
    <script src="/javascript/chatsfow2/commands/vault.js"></script>
    <script src="/javascript/chatsfow2/commands/damage.js"></script>
    <!-- command-facade.js must be the last import -->
    <script src="/javascript/chatsfow2/command-facade.js"></script>
</html>
