<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
        <link rel="stylesheet" href="/stylesheets/jquery.contextMenu.css">
        <title><%= title %></title>
    </head>
    <body>
        <div id="messagesBox" class="chatBox"></div>
        
        <p id="usersTyping"></p>
        
        <div class="chatActions">
            <form action="#" id="chatForm">
                <input type="text" id="inputMessage" placeholder="Available Commands: !gif <search_query> !online !boss !clear !chat <message>" autocomplete="off"/>
            </form>
            <div id="gifnailsBox">
            </div>
            <form action="#" id="codeForm" style="display: none;">
                <textarea id="codeInput" rows="5"></textarea><br/>
                <button id="codeSubmit" value="Send">Submit</button>
            </form>
        </div>
        <img src='/images/work.jpg' id="workImage"/>
    </body>
    <script src="//cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
    <script src="/javascript/libraries/jquery.titlealert.min.js"></script>
    <script src="/javascript/libraries/jquery.hoverIntent.minified.js"></script>
    <script src="/javascript/libraries/moment.js"></script>
    <script src="/javascript/libraries/jquery.ui.position.js"></script>
    <script src="/javascript/libraries/jquery.contextMenu.js"></script>
    <script src="/javascript/chatsfow2/chat.js"></script>
    <script src="/javascript/chatsfow2/gifnail-presenter.js"></script>
    <script src="/javascript/chatsfow2/gifnail-providers.js"></script>
    <script>
        ChatCommand.init('<%= serverAddress %>', <%= restrictedMode %>);
    </script>
    <!-- chat.js must be before all commands imports -->
    <script src="/javascript/chatsfow2/commands/gif.js"></script>
    <script src="/javascript/chatsfow2/commands/code.js"></script>
    <script src="/javascript/chatsfow2/commands/clear.js"></script>
    <script src="/javascript/chatsfow2/commands/online.js"></script>
    <script src="/javascript/chatsfow2/commands/boss.js"></script>
    <script src="/javascript/chatsfow2/commands/vault.js"></script>
    <!-- command-facade.js must be the last import -->
    <script src="/javascript/chatsfow2/command-facade.js"></script>
</html>