<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
  <script>


      $(function () {

          var serverHost = prompt("Tell me the server address to start rocking!")
          var userEmail = prompt("Now tell me you e-mail bro (we use it for Gravatar images)!")
          var connection = io.connect('http://' + serverHost + ':1337');

          connection.on('connect', function() {
              console.log('entendi, ou não.');
          });

          connection.on('receiveMessage', function (data) {
              $('#messagesBox').append("<p><b>" + data.userEmail + "</b>: " + data.messageContent + "</p>");
          });

          $("#inputButton").click(function(event){
              connection.emit('newMessage', {
                  messageContent: $("#inputMessage").val(),
                  userEmail: userEmail
              });
          });

      });

  </script>

    <div id="messagesBox" style="background-color: darkslategrey; width: 300px; height: 300px">

    </div>

    <input id="inputMessage" placeholder="Texto...">
    <input id="inputButton" type="button" value="Send">

  </body>
</html>
