body {
    height: 90%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html { height: 100%; }

a { color: #00B7FF; }

img { max-width: 500px; max-height: 500px; }

.chatActions input[type="text"] { padding: 10px; border: solid 1px #999; }
.chatActions input[type="text"]:focus,
.chatActions input[type="text"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
    outline: none;
}

.chatActions button {
    border: none;
    cursor: pointer;
    background: #34495e;
    color: #fff;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    border-radius: 2px;
}

.chatActions button:hover { background-color:#415b76; }

.chatActions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #efefef;
    height: 5%;
}

.chatBox div, .usersOnline { margin:0px; padding:7px; }

.joined { background-color:#DCF5E8; }
.exited { background-color:#FCD9D9; }

.usersOnline { background-color:#FCF8E3; list-style-type:none; }
.usersOnline li { display:inline-block; margin-right:10px; }

.chatBox { height: 100%; overflow: auto;}

.inputMessage { width: 80%; }

.ui-tooltip { max-width: 500px !important; }

#warn { width:32px; height:25px; display:inline-block; vertical-align:middle; }
#workImage { display:none; position:fixed; top:0; left:0; min-height:100%; min-width:100%; opacity:0.7; }
