body {
    height: 94%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

html { height: 100%; }

a { color: #00B7FF; }

img { max-width: 500px; max-height: 500px; }

.chatActions {
    border-collapse: separate;
    display: table;
    position: relative;
    width: 98%;
}

.chatActions input, textarea {
    padding: 10px;
    border: 1px solid #999;
    display: table-cell;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 0;
    width: 95%;
    vertical-align: middle;
}

.chatActions input, textarea:focus {
    outline:none;
}

.chatActions {
    display: table-cell;
    width: 1%;
}
.chatActions button {
    border: none;
    cursor: pointer;
    background: #34495e;
    color: #fff;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    border-radius: 2px;
    margin-left: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    vertical-align: middle;
}

.chatActions button:hover { background-color:#415b76; }

.chatActions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #efefef;
}

.usersOnline { clear:both; margin:0px; padding:7px; }

.joined, .exited { clear:both; margin:0px; padding:7px; }
.joined { background-color:#DCF5E8; }
.exited { background-color:#FCD9D9; }

.usersOnline { background-color:#FCF8E3; list-style-type:none; }
.usersOnline li { display:inline-block; margin-right:10px; }

.chatBox { height: 98%; overflow: auto;}

.ui-tooltip { max-width: 500px !important; }

#warn { width:32px; height:25px; display:table-cell; vertical-align:middle; }
#warn img {vertical-align: middle; }
#workImage { display:none; position:fixed; top:0; left:0; min-height:100%; min-width:100%; }

.gifnail{
    cursor: pointer;
    margin: 5px;
    max-width: 200px;
    max-height: 200px;
}

.messageBlock { clear:both; }
.messageBlock > div { margin:0; padding:7px; float:left; }
.imgAvatar { width:32px; height:32px; border-radius:10px; }
.messageEmail { font-weight:bold; }

.message {
    width: 90%;
}

.timestamp {
    color: #999999;
    display: none;
}


#usersTyping span:after{
    content: ', ';
}

#usersTyping span:last-child:before{
    content: " ";
}

#usersTyping span:last-child:after{
    content: " charges...";
    font-weight: normal;
}

#usersTyping span {
    font-weight: bold;
}

#usersTyping{
    margin-bottom: 5px;
}