body {
    height: 96%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html { height: 100%; }

a { color: #00B7FF; }
p, .usersOnline { margin:0px; padding:7px; }
p.joined { background-color:#DCF5E8; }
p.exited { background-color:#FCD9D9; }

.usersOnline { background-color:#FCF8E3; list-style-type:none; }
.usersOnline li { float:left; margin-right:10px; }

.chatBox { height: 95%; overflow: auto; margin-bottom: 15px; }

.chatActions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    background-color: white;
    height: 5%;
}

.inputMessage { width: 80%; }
.inputButton { width: 10%; }

.ui-tooltip {
    max-width: 500px !important;
}

img { 
    max-width: 500px;
    max-height: 500px;
}
